<h1>Home Page</h1>
<p>Welcome to my super awesome website</p>

<h2>Links</h2>
<p><%= link_to("Subjects", {controller: 'subjects', action: 'list'}) %></p>
<p><%= link_to("Pages", {controller: 'pages', action: 'list'}) %></p>
<p><%= link_to("Sections", {controller: 'sections', action: 'list'}) %></p>

